#bcit-todo-form{overflow:hidden;}
#bcit-todo-form p{
	/* this is a fairly basic CSS clear pattern */
	display:block;
	clear:both;
	overflow:hidden;
}

#bcit-todo-form label{
	width:20%;
	display:inline-block;
	float:left;
}

#bcit-todo-form input[type="text"]{width:80%; float:left;}

#bcit-todo-form textarea{margin-top:5px;}

#bcit-todo-form input[type="submit"]{float:left; margin-right:10px;}
#bcit-todo-form #bcit_ajax_response{float:left;}
#bcit-todo-form #bcit_ajax_response .bcit-todo-ajax-spinner{display:none;}
#bcit-todo-form #bcit_ajax_response .response-message{float:left; display:inline-block;}
#bcit-todo-form #bcit_ajax_response .success{color:green;}
#bcit-todo-form #bcit_ajax_response .error{color:red;}

/** Task Lists **/
#bcit-task-list li{
	list-style-type:none;
	border:1px solid #CCC;
	padding:5px;
	margin-bottom:-1px;
}
#bcit-task-list .task-title{
	border-right:1px solid #CCC;
	margin-right:5px;
	width:30%;
	display:inline-block;
}
#bcit-task-list li:hover{background:#F2ECEC; cursor:pointer;}
#bcit-task-list .bcit-button{
	float:right;
	padding:5px 5px 5px 5px; margin:-5px -5px -5px 0;
	border-left:1px solid #CCC;
	text-decoration:none;
}
#bcit-task-list .bcit-button:hover{background:#e3dfdf; color:black;}
#bcit-task-list .bcit-single-task .bcit-todo-ajax-spinner{
	float:right;
	margin-right:5px;
	display:none;
}
